.card.selected .visual-disclaimer .visual-disclaimer-text{
  color: #FF5904;
  min-height: 0px;
  font-size: 12px;
}

.card.selected h3.article-title,
.card.selected h3.lift-title {
  color: #242424 !important;
  display: inline-block;
}
